@using DataLayer.Enums
@using PresentationLayer.Models
@model PresentationLayer.Models.PageViewModel
@{
    Layout = null;
}

@switch (ViewBag.PageType)
{
    case PageEnums.PageType.Directory:
        var dirModel = (DirectoryViewModel)Model;
        <h1>@dirModel.Directory.Title</h1>
        <p>@Html.Raw(dirModel.Directory.Html)</p>

        @if (dirModel.Materials != null)
         {
             <ul>
                 @foreach (var mat in dirModel.Materials)
                 {
                     <li>
                         <a
                             asp-action="Index"
                             asp-controller="Page"
                             asp-route-pageId="@mat.Material.Id"
                             asp-route-pageType="Material">
                             @mat.Material.Title
                         </a>
                     </li>
                 }
             </ul>
         }
        break;
    case PageEnums.PageType.Material:
        var matModel = (MaterialViewModel)Model;
        <h2>@matModel.Material.Title</h2>
        <p>@Html.Raw(matModel.Material.Html)</p>

        @if (matModel.NextMaterial != null)
         {
             <ul>
                 <li>
                     <a
                         asp-action="Index"
                         asp-controller="Page"
                         asp-route-pageId="@matModel.NextMaterial.Id"
                         asp-route-pageType="Material">
                         @matModel.NextMaterial.Title
                     </a>
                 </li>
             </ul>
         }

        break;
}
